/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: brown;
}

p {font-family: 'Times New Roman', Times, serif;
font-size: medium;
}

.p2 {text-align: center;
color: rgb(34, 80, 82);
}
